@import url('https://fonts.googleapis.com/css?family=Chivo:400,700,900|Roboto:300,400,700&display=swap');

html, body {
    color: #3F2425;
    margin: 0;
    font-size: 24px;
}

body {
    font-family: 'Roboto', sans-serif;
}



nav img {
    width: 400px;
    margin: 80px 50px 0 70px;
    float: left;
}

nav ul {
    text-align: right;
    padding: 80px 70px 0;
    font-size: 75%;
}

nav li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.5;
    padding: 0 14px;
}

nav li a {
    text-decoration: none;
    color: #3F2525;
    position: relative;
}

nav li a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #3F2525;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav li a:hover:after { 
    width: 100%; 
    left: 0; 
}

nav::after {
    content: " ";
    display: block;
    clear: both;
}

h2 {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 262%;
    text-indent: 0;
}

p {
    font-weight: 300;
}

section {
    max-width: 960px;
    height: 612px;
    padding: 60px calc(50% - 480px) 100px;
    background-clip: border-box;
    background-origin: border-box;
    box-sizing: content-box;
    position: relative;
}

section>div {
    max-width: 500px;
}

section:first-of-type>div,
section:nth-of-type(3)>div {
    margin-left: 360px;
}

footer {
    background: #30AA8A;
    text-align: center;
    height: 200px;
    font-size: 83%;
    color: white;
    padding-top: 60px;
}

#wrapper {
    overflow: hidden;
    position: relative;
    /* margin-top: 180px; */
}

#wrapper::before {
    content: " ";
    background: url(./fundo.jpg) center top no-repeat;
    background-size: auto 2496px;
    display: block;
    width: 100%;
    height: 2496px;
    position: absolute;
    z-index: -1;
    left: 0;
    margin-top: 0.83em;
}

#bem-vindo h2 {
    font-weight: 900;
}

#anfibios {
    padding-top: 180px;
}

#anfibios::before {
    content: " ";
    background: url(./fundo_meio.png) center left no-repeat;
    background-size: contain;
    display: block;
    width: 1080px;
    height: 800px;
    position: absolute;
    z-index: -1;
    left: calc(50% - 20px);
    top: -40px;
}

#especies {
    padding-top: 120px;
}

#especies::before {
    content: " ";
    background: url(./fundo_base.png) center left no-repeat;
    background-size: contain;
    display: block;
    width: 980px;
    height: 640px;
    position: absolute;
    z-index: -1;
    right: calc(50% + 90px);
    top: -20px;
}

#jogos {
    text-align: center;
    height: auto;
    padding-bottom: 70px;
}

#jogos ul {
    display: flex;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#jogos li {
    list-style: none;
    display: flexbox;
    width: 280px;
    padding-bottom: 30px;
}

#jogos li img {
    width: 168px;
    height: 168px;
    border-radius: 84px;
}

a.botao-cta {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 91%;
    background-position: center;
    transition: background 0s;
    background: #F7A501 radial-gradient(circle, transparent 1%, #F7A501 1%) center/15000%;
    background-size: 100%;
}

.botao-cta:hover {
    background: #E0850B radial-gradient(circle, transparent 1%, #E0850B 1%) center/1500%;
    background-size: 10000%;
    transition: background 0.8s;
}
